<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>
<body class="wallpaper">
    <img src="imagem/shutterstock_528921187-scaled.jpg" alt="">
    <div>
        <div class="flutuante">
            <p class="white">Email</p>
            <input type="email" name="email" class="space"> <br>
            <p class="white">Senha</p>
            <input type="password" name="senha" class="space"> <br> <br>
            <input type="submit" class="space"> <br>
            <a class="white" href="cadastro.html">Cadastre-se</a>
            <input type="button" value="Cadastre-se">
        </div>
    </div>
</body>
</html>