<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>HOME</title>
</head>

<body class="wallpaperhome">
    <ul class="menu">
        <li><a href="">Home</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="cadastro.html">Cadastro</a></li>
        <li><a href="games.html">Games</a></li>
    </ul>
    <div class="contro">
        <img src="../css/imagem/o-futuro-dos-games-como-entretenimento-os-jogos-nao-estao-apenas-aqui-e-agora.jpg"
            height="100em"> <br>
        <img src="../css/imagem/mulher-gamer-esports-678x381.jpg" height="85em"> <br>
        <img src="../css/imagem/istockphoto-1313854295-612x612.jpg" height="105em"> <br>
        <img src="../css/imagem/gamer-575x300_gorodenkoff_istock.jpg" height="80em"> <br>
    </div>
</body>
<script src="../controller/controller.js"></script>
</html>